body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.game-area {
  background-image: repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
  background-size: 40px 40px;
  position: relative;
  border: 3px solid #ccc;
  opacity: 0.8;
  display: inline-block;
}

.game-area:focus {
  outline: none;
}

.border {
  /* background: #cbcdcd; */
  height: 40px;
  width: 40px;
  top: 280px;
  left: 0;
  position: absolute;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.box,
.goal,
.human {
  /* background: #cbcdcd; */
  height: 40px;
  width: 40px;
  top: 280px;
  left: 80px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 5px solid rgb(138, 101, 56); */
}

.box {
  background-image: url(../images/box.png);
  background-size: 40px 40px;
}

.box.active {
  top: 280px;
  left: 160px;
  background-image: url(../images/box_active.png);
}

.goal {
  top: 280px;
  left: 240px;
  background-image: url(../images/goal.png);
  background-size: 15px 15px;
  z-index: -1;
}

.human {
  top: 280px;
  left: 320px;
  background-image: url(../images/human.png);
  background-size: 35px 35px;
}

.info-container {
  left: 40px;
  position: relative;
}

.copy-right {
  font-family: "Fira Code";
  margin: 100px 0;
}

.operation,
.time,
.move,
.level {
  position: absolute;
  font-family: "Fira Code";
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.time,
.move,
.level {
  display: flex;
}

.level {
  /* left: 400px; */
  top: -35px;
  width: 153px;
  font-size: 35px;
  font-weight: bolder;
}

.move {
  /* left: 400px; */
  top: 40px;
  width: 153px;
  font-size: 20px;
}

.time {
  /* left: 400px; */
  top: 80px;
  width: 153px;
  font-size: 20px;
}

.operation {
  display: block;
  /* left: 400px; */
  top: 140px;
  width: 153px;
}

.operation #operation {
  font-size: 23px;
  font-weight: 500;
}

.operation-move,
.operation-undoing,
.operation-redoing {
  position: relative;
  display: flex;
  height: 18px;
}

.operation-undoing {
  top: 63px;
  left: 20px;
}

.operation-redoing {
  top: 45px;
  left: 100px;
}

.key {
  position: absolute;
  font-size: 20px;
  border: 1px solid;
  height: 40px;
  width: 40px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.arrowUp {
  top: -13px;
  left: 70px;
}

.arrowDown {
  top: 30px;
  left: 70px;
}

.arrowLeft {
  top: 30px;
  left: 27px;
}

.arrowRight {
  top: 30px;
  left: 113px;
}

.undoing {
  top: 25px;
  left: 8px;
}

.redoing {
  top: 25px;
  left: 10px;
}

.game-clear {
  position: absolute;
  opacity: 0;
  height: 360px;
  width: 400px;
  display: table;
  z-index: 2;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
}
